.trip {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        grid-template-columns: 350px 750px;
        grid-template-rows: 180px auto 50px;
        grid-auto-rows: auto;
        gap: 50px;
    }
    &__header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    &__subtitle {
       align-self: flex-end;
       padding-right: 60px;

    }
    &__list {
       grid-column: 1 / 2;
       grid-row: 2 / 3;
       display: grid;
       row-gap: 30px;
       grid-template-columns: unset;
       grid-template-rows: repeat(4, auto);
    }
    &__item {
        list-style-type: none;
        font-size: 24px;
        line-height: 28px;
        &-header {
            font-weight: 400;
        }
        &-descr {
            width: 245px;
            font-weight: 300;
            padding-top: 20px;
            ul {
                list-style-type: none;
            }
        }
    }
    &__btn {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        align-self: center;
        justify-self: center;
    }
    &__img {
        grid-column: 2 / 3;
        grid-row: 1 / 4;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}